.holder{
width:250px;
	height:250px;
	display:flex;
	justify-content:center;
	align-content:center;
	align-items:center;
}
.item-1{

	background-color:aqua;
	width:100px;
	height:100px;
}
/* Your CSS Code here. */